/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s all;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --main-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
/* End Variables */
/*=========================
  =====start globale rule=====
  ===========================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: 5000px;
}
body {
  font-family: "Cairo", sans-serif;
}
section {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End the globale Rule */
/* Start Conponent */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.main-header {
  text-align: center;
}
.main-header h2 {
  text-transform: uppercase;
  border: 2px black solid;
  padding: 10px 20px;
  width: max-content;
  margin: 0 auto 80px;
  position: relative;
  transition: 2 all;

  z-index: 1;
}
.main-header h2::before,
.main-header h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.main-header h2::before {
  left: -35px;
}
.main-header h2::after {
  right: -27px;
}
.main-header h2:hover::after {
  animation: animation-component-title-after 2s 1 forwards;
}
.main-header h2:hover::before {
  animation: animation-component-title-before 2s 1 forwards;
}
.main-header h2:hover {
  animation: color-change-white 2s 1 forwards;
  color: white;
}

.dot {
  position: absolute;
  width: 204px;
  height: 186px;
  background-image: url(../image/dots.png);
  background-repeat: no-repeat;
}
.dot.up {
  right: 0;
  top: 100px;
}
.dot.down {
  left: 0;
  bottom: 100px;
}
textarea{
  resize: none;
}
a{
  color: inherit;
}
/* End Conponent */

/* Start Header */

header {
  box-shadow: 5px 5px 10px #ccc;
  min-height: 72px;
  z-index: 20;

  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container .logo h3 {
  font-weight: 800;
  word-spacing: 8px;
}
header .container .logo h3 a {
  color: var(--main-color);
}
header .container .links {
  display: flex;
}
header .container .links > li > a {
  color: black;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  text-transform: capitalize;
  height: 72px;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}
header .container .links > li > a::before {
  transition: var(--main-transition);
  content: "";
  position: absolute;
  top: 0;
  border-radius: 3px;
  background-color: var(--main-color);
  left: 0;
  height: 3px;
  width: 0%;
}
header .container .links > li > a:hover::before {
  width: 100%;
}
header .container .links > li > a:hover {
  color: var(--main-color);
  background-color: #eee;
}

header .container .another {
  display: none;
  position: absolute;
  left: 0;
  transition: var(--main-transition);
  width: 100%;
  z-index: 20;
  padding: 30px;
  background-color: white;
  border-top: 1px #ccc solid;
  animation: animation 0.3s 1;
  border-bottom: 3px var(--main-color) solid;
}
header .container .links li:last-child:hover > nav {
  display: flex;
  justify-content: space-between;
}
header .container .links .another .image {
  flex-basis: 37%;
}
header .container .links .another ul {
  display: flex;
  flex-basis: 53%;
  justify-content: space-between;
}
header .container .links .another ul .col {
  flex-basis: 45%;
}
header .container .links .another ul .col li a {
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 18px;
  display: block;
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px #ccc solid;
}

header .container .links .another ul .col li a i {
  margin-right: 15px;
}
header .container .links .another ul .col li:last-child a {
  border-bottom: none;
}

@media (max-width: 989px) {
  header .container .links .another .image {
    display: none;
  }
  header .container .links .another ul {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
  header .container .links > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
  header .container .links .another ul {
    flex-direction: column;
  }
  header .container .links .another ul .col {
    margin: 0;
    text-align: left !important;
  }
  header .container .links .another ul .col li:not(.final) a {
    border-bottom: 1px #ccc solid;
  }
  header .container .links .another {
    padding: 0;
  }
}

/* End Header */
/* Start Landing */
.landing {
  height: calc(100vh - 72px);
  position: relative;
}
.landing::before {
  background-color: var(--section-background);
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -3;
  transform: skewY(-6deg);
  transform-origin: left top;
}
.landing .container {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  height: 100%;
  justify-content: space-between;
}
.landing .container .text {
  flex-basis: 50%;
}
.landing .container .image {
  flex-basis: 50%;
  animation: animation-image-landing linear 5s infinite backwards;
}
.landing .container .text h2 {
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
}
.landing .container .text p {
  line-height: 1.8;
  color: #333;
  font-size: 18px;
}

.landing i {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: var(--main-color);
  transform: translateX(-50%);
  cursor: pointer;
  animation: 1s infinite animation-arrow-down;
}

@media (max-width: 767px) {
  .landing .container .image {
    display: none;
  }
  .landing .container .text {
    flex-basis: 100%;
    text-align: center;
  }
  header {
    padding-top: 10px;
  }
}
/* End Landing */
/* Start Article */
.articles .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.articles .content .box {
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
.articles .content .box:hover {
  transform: translateY(-10px);
}
.articles .content img {
  width: 100%;
}
.articles .content .box .text {
  padding-left: 15px;
  padding-top: 10px;
  width: 100%;
  border-bottom: 1px #ccc solid;
}
.articles .content .box .text h4 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}
.articles .content .box .text p {
  margin-bottom: 10px;
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}
.articles .content .box .read-more {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.articles .content .box .read-more p {
  text-transform: capitalize;
  font-weight: 700;
}
.articles .content .box:hover > .read-more i {
  animation: animation-arrow-right 0.7s infinite;
}
@media (min-width: 590px) {
  .articles .content .box {
    flex-basis: 45%;
  }
}
@media (min-width: 997px) {
  .articles .content .box {
    flex-basis: 22%;
  }
}
@media (max-width: 590px) {
  .articles .content .box {
    flex-basis: 1000%;
  }
}
/* End Article */
/* Start Gallery */
.gallery {
  background-color: var(--section-background);
}
.gallery .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.gallery .content .box {
  box-shadow: var(--main-box-shadow);
  padding: 10px;
}
.gallery .content .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .content .box img {
  transition: var(--main-transition);
}
.gallery .content .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffb3;
  width: 0%;
  z-index: 3;
  height: 0%;
  transition: var(--main-transition);
}
.gallery .box .image:hover::before {
  animation: flash-animation 0.5s 1;
}
.gallery .content .box .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .content .box {
  position: relative;
  border: 1px #ccc solid;
}
.features .content .box .image {
  position: relative;
  overflow: hidden;
}
.features .content .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.features .content .box:first-child .image::before {
  background-color: rgba(255, 0, 0, 0.404);
}
.features .content .box:nth-child(2) .image::before {
  background-color: rgba(0, 255, 0, 0.404);
}
.features .content .box:last-child .image::before {
  background-color: rgba(0, 0, 255, 0.404);
}
.features .content .box .image::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  transition: var(--main-transition);
  border-width: 0px 0 170px 500px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
}
.features .content .box .text {
  text-align: center;
  padding: 10px;
}
.features .content .box .text h2 {
  text-transform: capitalize;
  font-size: 30px;
  position: relative;
  width: max-content;
  margin: 0 auto 30px;
}
.features .content .box .text h2::before {
  content: "";
  position: absolute;
  bottom: -16px;
  width: 75%;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.features .content .box.red .text h2::before {
  background-color: red;
}
.features .content .box.green .text h2::before {
  background-color: green;
}
.features .content .box.blue .text h2::before {
  background-color: blue;
}
.features .content .box .text p {
  color: #777;
  line-height: 2;
  font-size: 20px;
  margin-top: 40px;
}
.features .content .box .container-button {
  text-align: center;
}
.features .content .box button {
  padding: 15px 25px;
  text-transform: capitalize;
  margin: 20px auto 40px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 6px;
  position: relative;
  font-size: 18px;
}
.features .content .box button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  top: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.features .content .box.red button {
  color: red;
  border: 3px red solid;
}
.features .content .box.red button:after {
  background-color: red;
}

.features .content .box.green button {
  color: green;
  border: 3px green solid;
}
.features .content .box.green button:after {
  background-color: green;
}

.features .content .box.blue button {
  color: blue;
  border: 3px blue solid;
}
.features .content .box.blue button:after {
  background-color: blue;
}
.features .content .box:hover .container-button button:after {
  width: 100%;
}
.features .content .box:hover .container-button button {
  color: white;
}
.features .content .box:hover .image::after {
  border-width: 170px 500px 170px 0;
  border-color: transparent transparent white transparent;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  background-color: var(--section-background);
}
.testimonials .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 30px;
}
.testimonials .content .box {
  background-color: #fff;
  position: relative;
  padding: 15px 0;
  border-radius: 11px;
}
.testimonials .content .box .image {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -10px;
  top: -40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--section-background);
}
.testimonials .content .box .image img {
  width: 70px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonials .content .box .info {
  padding: 0 15px;
}

.testimonials .content .box .info h5 {
  font-size: 16px;
  padding: 7px 0;
  color: #777;
  text-transform: capitalize;
}
.testimonials .content .box .info .icon-start {
  color: #fccc04;
  padding-bottom: 10px;
}
.testimonials .content .box .info p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}
/* End Testimonials */
/* Start Team */
.team .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.team .content .box {
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  padding: 10px;
}
.team .content .box::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 10px);
  width: 0%;
  border-radius: 11px;
  transition: var(--main-transition);
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.15);
}
.team .content .box:hover::after {
  width: 80%;
}
.team .content .box:hover .info h2 {
  color: #777;
}
.team .content .box::before {
  content: "";
  border-radius: 11px;
  position: absolute;
  right: 0;
  z-index: -1;
  height: calc(100% - 10px);
  background-color: #ddd;
  width: 80%;
}

.team .content .box .image-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team .content .box .image-icon .image {
  flex-basis: 90%;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 11px;
}
.team .content .box .image-icon .image img {
  transition: var(--main-transition);
}
.team .content .box:hover .image-icon .image img {
  filter: grayscale(100%);
}

.team .content .box .image-icon .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .content .box .image-icon .icon i {
  margin: 10px 0;
  cursor: pointer;
  color: #777;
  transition: var(--main-transition);
}
.team .content .box .image-icon .icon i:hover {
  color: var(--main-color);
}
.team .content .box .info {
  margin-left: 80px;
  padding: 10px 0;
}
.team .content .box .info h2 {
  font-size: 20px;
  color: var(--main-color);
}
.team .content .box .info p {
  color: #777;
  font-size: 14px;
}
/* End Team */
/* Start Services */
.services {
  background-color: var(--section-background);
}
.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.services .content .box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: var(--main-box-shadow);
  padding-top: 30px;
  transition: var(--main-transition);
}
.services .content .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  width: 0%;
  transition: var(--main-transition);
  height: 3px;
}
.services .content .box:hover::before {
  width: 100%;
}
.services .content .box:hover {
  transform: translateY(-10px);
}
.services .content .box i {
  color: #777;
  margin-bottom: 10px;
}
.services .content .box h2 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .content .box .details {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.services .content .box .details .number {
  background-color: var(--main-color-alt);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 15px;
  position: relative;
  padding-right: 30px;
}
.services .content .box .details .number::after {
  content: "";
  position: absolute;
  background-color: #ccc;
  width: 61px;
  height: 35px;
  transform: rotateZ(292deg);
}
.services .content .box .details p {
  text-transform: capitalize;
  color: var(--main-color);
  padding-right: 10px;
}
/* End Services */
/* Start Skill */
.skill .content {
  display: flex;
  align-items: center;
}
.skill .content .image {
  flex: 1;
}
.skill .content .pourcentage {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.skill .content .pourcentage .box {
  width: 100%;
  margin: 10px 0;
}
.skill .content .pourcentage .box div {
  width: 100%;
  background-color: #cecece;
  height: 30px;
  margin-top: 5px;
  position: relative;
}
.skill .content .pourcentage .box div::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--main-color-alt);
}
.skill .content .pourcentage .box.html div::before {
  width: 80%;
}
.skill .content .pourcentage .box.css div::before {
  width: 85%;
}
.skill .content .pourcentage .box.js div::before {
  width: 70%;
}
.skill .content .pourcentage .box.python div::before {
  width: 80%;
}
.skill .content .pourcentage .box div::after {
  position: absolute;
  top: -30px;
  padding: 5px;
  right: 0;
  border-radius: 6px;
  font-weight: 700;
  color: #777;
  font-size: 11px;
  border: 1px gray solid;
}
.skill .content .pourcentage .box.html div::after {
  content: "80%";
}
.skill .content .pourcentage .box.css div::after {
  content: "85%";
}
.skill .content .pourcentage .box.js div::after {
  content: "70%";
}
.skill .content .pourcentage .box.python div::after {
  content: "80%";
}
@media (max-width: 767px) {
  .skill .content .image {
    display: none;
  }
}

/* End Skill */
/* Start How It Work */
.how {
  background-color: var(--section-background);
}
.how .content {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}
.how .content .work-steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 50%;
}
.how .content .image {
  margin-right: 100px;
}
.how .content .work-steps .box {
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px #fff solid;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 11px;
}
.how .content .work-steps .box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--section-background);
  width: 00%;
  transition: var(--main-transition);
  height: 00%;
  z-index: 0;
}
.how .content .work-steps .box:hover::after {
  width: 100%;
  height: 100%;
}
.how .content .work-steps .box img {
  width: 50px;
  z-index: 2;
}
.how .content .work-steps .box .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  z-index: 2;
}
.how .content .work-steps .box .info h2 {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
}
.how .content .work-steps .box .info p {
  line-height: 1.7;
  font-size: 18px;
  color: #777;
}
@media (max-width: 1000px) {
  .how .content {
    flex-direction: column;
  }
  .how .content .image {
    margin: 0 0 90px 0;
  }
}
/* End How It Work */
/* Start Events */
.events {
  position: relative;
}

.events .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events .chrono-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.events .chrono-image .chrono {
  flex-basis: 60%;
}
.events .chrono-image .image {
  flex-basis: 40%;
}
.events .chrono-image .chrono .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.events .chrono-image .chrono .time .box {
  margin: 0 10px;
  border: #777 solid 1px;
  border-radius: 6px;
  width: 72px;
}
.events .chrono-image .chrono .time .box p:first-child {
  font-size: 30px;
  color: var(--main-color);
  font-weight: 800;
  padding: 10px;
  border-bottom: #777 1px solid;
}
.events .chrono-image .chrono .time .box p:last-child {
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px 10px;
}
.events .chrono-image .chrono .info {
  margin-top: 20px;
}
.events .chrono-image .chrono .info h2 {
  margin: 20px 0;
}
.events .chrono-image .chrono .info p {
  color: #777;
  line-height: 1.8;
  font-size: 20px;
}
.events .content .subscrib {
  margin-top: 50px;
  background-color: #f6f6f6;
  border-radius: 50px;
  width: 600px;
  padding: 50px;
  display: flex;
}
.events .content .subscrib input {
  padding: 20px;
  border: none;
  border-radius: 50px;
  flex: 1;
}
.events .content .subscrib input:focus {
  outline: none;
}
.events .content .subscrib input::placeholder {
  text-transform: capitalize;
  transition: var(--main-transition);
}
.events .content .subscrib input:focus::placeholder {
  color: transparent;
}
.events .content .subscrib button {
  margin-left: 30px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
  transition: var(--main-transition);
  background-color: var(--main-color);
  text-transform: capitalize;
}
.events .content .subscrib button:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .events .content .chrono-image {
    flex-direction: column;
  }
  .events .content .chrono-image .chrono {
    flex-basis: 100%;
  }
  .events .content .chrono-image .image {
    flex-basis: 100%;
  }
  .dot {
    display: none;
  }
  .events .content .subscrib {
    flex-direction: column;
  }
  .events .content .subscrib button {
    flex: 1;
    margin-top: 30px;
    margin-left: 0;
  }
}
/* End Events */

/* Strat Pricing */
.pricing {
  position: relative;
  background-color: var(--section-background);
}
.pricing .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.pricing .content .box {
  background-color: #fff;
  display: flex;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  flex-direction: column;
  z-index: 1;
  position: relative;
}
.pricing .content .box.advanced {
  transform: translateY(-30px);
}
.pricing .content .box::before,
.pricing .content .box::after {
  content: "";
  transition: var(--main-transition);
  position: absolute;
  height: 50%;
  width: 0%;
  background-color: #f6f6f6;
  z-index: -1;
}
.pricing .content .box::after {
  top: 0;
  right: 0;
}
.pricing .content .box::before {
  bottom: 0;
  left: 0;
}
.pricing .content .box:hover:before,
.pricing .content .box:hover::after {
  width: 100%;
}
.pricing .content .box.advanced .popular {
  position: absolute;
  transform: rotate(90deg);
  top: 50px;
  right: -28px;
  background-color: var(--main-color);
  padding: 10px 35px 10px 10px;
  color: white;
}
.pricing .content .box.advanced .popular::before {
  content: "";
  position: absolute;
  bottom: 0;
}
.pricing .content .box .header {
  text-align: center;
  padding: 10px;
  position: relative;
}
.pricing .content .box .header h2 {
  padding: 10px 0 20px;
  position: relative;
  text-transform: capitalize;
  font-size: 20px;
}
.pricing .content .box .header img {
  width: 70px;
}
.pricing .content .box .header h3 {
  margin-top: 30px;
  font-size: 40px;
  color: var(--main-color);
}
.pricing .content .box .header p {
  color: #777;
  text-transform: capitalize;
}
.pricing .content .box .pricing-features {
  margin: 10px 0;
  position: relative;
}
.pricing .content .box .pricing-features p {
  padding: 20px;
  border-top: 1px #ccc solid;
  font-size: 16px;
}
.pricing .content .box .pricing-features p::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .content .box button {
  padding: 10px 20px;
  width: max-content;
  margin: 20px auto 40px;
  border-radius: 6px;
  border: 1px solid var(--main-color-alt);
  background-color: transparent;
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;
}
.pricing .content .box button:hover {
  background-color: var(--main-color-alt);
  color: #fff;
}
@media (max-width: 991px) {
  .pricing .content .box.advanced {
    transform: translateY(0);
  }
}
/* End Pricing */
/* Start Video */
.video .content {
  display: flex;
  justify-content: center;
}
.video .content .menu {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  border: 1px #ccc solid;
}
.video .content .menu .title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}
.video .content .menu .title p {
  text-transform: capitalize;
  font-weight: 800;
}
.video .content .menu .main .box {
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  border-bottom: 1px solid #ccc;
}
.video .content .menu .main .box:hover {
  background-color: #eee;
}
.video .content .menu .main .box .name {
  text-transform: capitalize;
  margin-bottom: 5px;
  transition: var(--main-transition);
}

.video .content .menu .main .box:hover .name {
  color: var(--main-color);
}
.video .content .menu .main .box .duration {
  color: #777;
}
.video .content .picture {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e7e7e7;
  flex-direction: column;
}
.video .content .picture .preview-title {
  padding: 20px;
  background-color: #fff;
}
.video .content .picture .preview-title p {
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .video .content {
    flex-direction: column;
  }
}

/* End Video */
/* Start Stats */
.stats {
  background-image: url(../image/stats.jpg);
  position: relative;
  background-size: cover;
}
.stats::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
}
.stats .title{
  position: relative;
  text-align: center;
}
.stats .title h2{
  font-size: 30px;
  text-transform: capitalize;
}
.stats .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
  margin-top: 80px;
}
.stats .content .box{
  text-align: center;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
  position: relative;
}
.stats .content .box::before,
.stats .content .box::after{
  content: "";
  position: absolute;
  width: 2px;
  transition: var(--main-transition);
  height: 0%;
  background-color: var(--main-color-alt);
}
.stats .content .box::after{
  right: 0;
  bottom: 0;
}
.stats .content .box::before{
  left: 0;
  top: 0;
}
.stats .content .box:hover::before,
.stats .content .box:hover::after{
  height: 100%;
}
.stats .content .box h2{
  margin: 20px 0;
  font-size: 40px;
}
.stats .content .box p{
  font-style: italic;
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: 600;
}

/* End Stats */
/* Start Request */
.request .content{
  display: flex;
  min-height: 100vh;
}
.request .content .image-discount{
  background-image: url(../image/discount-background1.jpg);
  min-height: 100vh;
  background-size: cover;
  flex-basis: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  z-index: 1;
  text-align: center;
}
.request .content .image-discount .info{
  max-width: 500px;
}
.request .content .image-discount .info p{
  line-height: 1.6;
  font-size: 18px;
}
.request .content .image-discount img{
  width: 300px;
}
.request .content .image-discount::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgb(23 135 224 / 97%);
}
.request .content .discount{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

}
.request .content .discount form{
  padding: 0 20px;
  text-align: center;
}
.request .content h2{
  text-transform: capitalize;
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.request .content .discount form input,
.request .content .discount form textarea{
  padding: 20px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f6f6f6;
  display: block;
  margin: 20px 0;
  width: 100%;
}
.request .content .discount form input:focus,
.request .content .discount form textarea:focus{
  outline: none;
}
.request .content .discount form textarea{
  height: 200px;
}
.request .content .discount form button{
  padding: 10px;
  text-transform: capitalize;
  border: none;
  background-color: var(--main-color);
  font-size: 20px;
  width: 100%;
  color: #fff;
  font-weight: 700;
}
@media (max-width:767px){
  .request .content .image-discount,
  .request .content .discount{
    flex-basis: 100%;
  }
  .request .content{
    flex-direction: column;
  }
}
/* End Request */
/* Start Footer */
footer{
  background-color: #191919;
}
footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  color: #b9b9b9;
  padding: 30px 0;
}
footer .container .title{
  color: #fff;
}
footer .container .title h1{
  text-transform: capitalize;
}
footer .container .title .icon{
  display: flex;
  margin-bottom: 20px;
}
footer .container .title .icon i{
  width: 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  height: 50px;
  font-size: 18px;
  background-color: #313131;
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .container .title .icon i:hover{
  color: #fff;
  background-color: var(--main-color);
}
footer .container .title .icon a:last-child i:hover{
  
  background-color:red;
}
footer .container .title p{
  line-height: 2;
}
footer .container li:not(:last-child){
  border-bottom: 1px #777 solid;
}
footer .container li a{
  padding: 20px 20px 20px 30px;
  position: relative;
  display: block;
  cursor: pointer;
  transition: var(--main-transition);
}

footer .container li a::before{
  content: '\f101';
  font-weight: 900;
  position: absolute;
  left: 0;
  color: var(--main-color);
  font-family: 'Font Awesome 6 Free';
}
footer .container li a:hover{
  transform: translateX(10px);
}
footer .container .info .box{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
footer .container .info .box p{
  margin-left: 20px;
  font-size: 18px;
}
footer .container .info .box i{
  color: var(--main-color);
  font-size: 18px;
}
footer .container .image img{
  width: 78px;
  margin: 2px;
  border: 3px #fff solid;
}
footer > p{
  text-align: center;
  border-top: 1px solid #777;
  padding: 30px 0;
  width: calc(100% + 60px);
  color: #bebebe;

}
@media (max-width:767px){
  footer{
    text-align: center;
  }
}
/* End Footer */
/* section of animation */
@keyframes animation-component-title-after {
  0% {
    right: -35px;
  }
  90% {
    right: 0;
  }
  100% {
    width: 51%;
    height: 51.59px;
    border-radius: 0px;
    right: 0;
  }
}
@keyframes animation-component-title-before {
  0% {
    left: -35px;
  }
  90% {
    left: 0;
  }
  100% {
    width: 51%;
    height: 51.59px;
    border-radius: 0px;
    left: 0;
  }
}
@keyframes color-change-white {
  0% {
    color: black;
    border: 2px black solid;
  }
  90% {
    color: black;
    border: none;
  }
  100% {
    color: #fff;
    border: none;
  }
}
@keyframes animation-arrow-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
@keyframes animation-image-landing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animation-arrow-down {
  0%,
  100% {
    bottom: 30px;
  }
  50% {
    bottom: 50px;
  }
  66.6% {
    bottom: 30px;
  }
  83.26% {
    bottom: 50px;
  }
}
@keyframes animation {
  0% {
    transform: translateY(30px);
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes flash-animation {
  0% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  50% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}
